:root {
    --popup-background: rgba(0, 0, 0, 0.5);
    --card-background: #080808;
    --title-color: #ddd;
    --description-color: #ddd;
    --button-background: orange;
    --button-hover-background: darkorange;
    --button-text-color: back;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Rajdhani', sans-serif;
}

.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    visibility: hidden;
    align-items: center;
    transform: scale(1.1);
    flex-direction: column;
    justify-content: center;
    background-color: var(--popup-background);
    transition: opacity 0.6s ease, transform 0.6s ease, visibility 0.6s ease;
    z-index: 1000;
}

.popup-container.show {
    display: flex;
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.popup-card {
    width: 90%;
    padding: 20px;
    display: flex;
    max-width: 500px;
    border-radius: 10px;
    transform: scale(0.9);
    flex-direction: column;
    transition: transform 0.6s ease;
    background-color: var(--card-background);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.popup-container.show .popup-card {
    transform: scale(1);
}

.popup-image {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px 10px 0 0;
}

.popup-title {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--title-color);
}

.popup-description {
    font-size: 1rem;
    text-align: left;
    font-weight: 600;
    margin-bottom: 30px;
    color: var(--description-color);
}

.popup-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.popup-button {
    width: 100%;
    border: none;
    cursor: pointer;
    font-weight: 700;
    border-radius: 5px;
    padding: 10px 20px;
    color: var(--button-text-color);
    transition: background-color 0.3s ease;
    background-color: var(--button-background);
}

.popup-button:hover {
    background-color: var(--button-hover-background);
}
